/* banner.module.css */

.bannercontainer {
  width: 100%;
  background-color: #1c0f0f;
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 700px;
  position: relative;

}

.contentcontainer {
  width: 70%;
  height: 70%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;

}



.contentintro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.name {
  font: 400 70px/70.14px "Wallpoet", sans-serif;
  color: #fff;
  text-align: start;
  width: 100%;

}


.returnday {
  margin-top: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #1E1E1E;
  height: 26px;


}
.returntext{

  font: 600 12px/18px "Poppins", sans-serif;
  color: #fff;

}

.aboutcontent {
  margin: 20px 0;
  font: 400 18px/22px " Prosto One", sans-serif;
text-align: left;
color: #fff;

}

.buyoption {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.warrenty{
  font: 600 22px/22px " Poppins", sans-serif;
  color: #fff;
}

.livecontainer {
  position: absolute;
  top: 10%;
  right: 2rem;
  padding: 4px 8px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.liveicon{
  background-color: #3d352a;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 30px;
  margin-bottom: 4px;

}

.live {
  height: 8px;
  width: 8px;
  box-shadow: 0px 0px 4px 2px #7cff8299;
  border-radius: 50%;
  background-color: #00ff0a;
  margin-right: 6px;
}
.discount {
  font: 600 10px/15px Poppins, sans-serif;
  color: #fff;
}