.productmaincontainer {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  box-sizing: border-box;
  background-color: rgb(40, 27, 18);
  position: relative;
}

.filtercontainer {
  width: 30%;
  max-width: 270px;
  min-width: 250px;
  height: 100%;
}

.productcontainer {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
  justify-content: flex-start;
  padding: 8px;
}

.searchcontainer {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.searchtext {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
}
.text {
  color: #fff;
  font: 400 24px/36px "Poppins", sans-serif;
}
.resultnum {
  color: #fff;
  font: 400 20px/30px "Poppins", sans-serif;
}
.categoryfilter{
  position: absolute;
  left: 12px;
  top: 1rem;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 8px 12px;
  box-shadow: 4px 5px 21px -4px #00000033;
  gap: 4px;
  cursor: pointer;
}
.filterbycontainer {
  position: absolute;
  right: 12px;
  top: 1rem;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 8px 12px;
  box-shadow: 4px 5px 21px -4px #00000033;
  gap: 4px;
  cursor: pointer;
}

.sort {
  color: #fff;
  font: 400 15px/22.5px "Poppins", sans-serif;
}
.logo {
  width: 10px;
  height: 10px;
}
.sortmodal {
  z-index: 99;
  position: absolute;
  right: 12px;
  top: 4rem;
}

.productlistcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .productmaincontainer{
    padding: 0.3rem;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  }
  .productcontainer{
    width: 100%;
   
  }
  .filtercontainer{
    width: 100%;
 
  }
  
}


@media screen and (min-width: 601px) {
  .categoryfilter {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .productmaincontainer{
    padding: 0.5rem;

  }
  .productcontainer{
    width: 80%;
  }
  
}